.taoye-7 .course-d .bz-1{
	background: url(../images/taoye/taoye-zk-cw/course-ty-zk-table-bg.jpg) no-repeat center 0;
}
.taoye-7 .course-sc{
	background: url(../images/taoye/taoye-zk-fx/course-ty-zk-fx-shoucai-bg-1.jpg) no-repeat center 0;
}
/*==========*/
.taoye-7 .course-n{
	background: none;
}
.taoye-7 .course-i{
	background: url(../images/taoye/taoye-zk-cw/course-ty-zk-nvli-bg.jpg) no-repeat center center;
}
.taoye-7 .course-i .course-title{
	color:#333;
}
