.taoye-3 .course-b .cont li.li-1 .t-h1{
	background: url(../images/taoye/taoye-zk/course-ty-zk-three-r-1.png) no-repeat center 0;
}
.taoye-3 .course-b .cont li.li-2 .t-h1{
	background: url(../images/taoye/taoye-zk/course-ty-zk-three-r-2.png) no-repeat center 0;
}
.taoye-3 .course-b .cont li.li-3 .t-h1{
	background: url(../images/taoye/taoye-zk/course-ty-zk-three-r-3.png) no-repeat center 0;
}
.taoye-3 .course-b{
	background-color: #fff;
}
/*==================*/
.taoye-3 .course-d .bz-1 .course-title{
	margin-bottom:40px;
}
.taoye-3 .course-d .bz-1 .course-title .t-h1{
	margin-bottom:10px;
}
.taoye-3 .course-d .bz-1{
	padding-top:54px;
}
.taoye-3 .course-d .bz-1{
	background: url(../images/taoye/taoye-zk/course-ty-zk-table-bg.jpg) no-repeat center 0;
}
/*====================*/
.taoye-3 .course-i{
	background: url(../images/taoye/taoye-zk/course-ty-zk-fg-bg.jpg) no-repeat center 0;
}
