body{
	width:100%;
	height:100%;
	background-color:#f7f7f7;
}
.main-header .w1000{
	width:1226px;
	min-width:1000px;
}
.top-nav .left-app{
	width:auto;
	    height: 50px;
    line-height: 50px;
}
.top-nav .left-app a.img-hov{
	margin-right:95px;
}
.top-nav .left-app a.hov{
	cursor:pointer;
	display:inline;
	padding:5px 16px;
	margin-right:40px;
	border-radius:5px;
}
.top-nav .left-app a.hov:hover{
	background-color:#0286b7;
}
.top-nav .right-login-btn{
	width:auto;
}
.main-header{
	min-width:1226px;
}
.records-title-nav a{
	color:#666666;
}
.records-title-nav a.active{
	color:#6cd0f6;
}
.records-title-nav a:hover{
	color:#2bb6ea;
}




.ui-layout-north{
	position:absolute;
	overflow:hidden;
}
.ui-layout-center{
	background-color:#000000;
	position:absolute;
	overflow:hidden;
}
.ui-layout-east {
	background-color:#ffffff;
	position:absolute;
	overflow:hidden;
}
.ui-layout-south{
	position:absolute;
	overflow:hidden;
}
.main-con{
	padding-left:50px;
	height:82px;
	line-height:82px;
}
.top-nav{
	height:50px;
	line-height:50px;
}

.close-slide-bar{
	width:20px;
	height:100%;
	float:left;
	background-color:#f8f8f8;
	position:relative;
}
.close-slide-bar span{
	position:absolute;
	height:100px;
	line-height:100px;
	width:100%;
	top:50%;
	left:0;
	margin-top:-100px;
	font-family:宋体;
	text-align:center;
	cursor:pointer;
	background-color:#f0f0f0;
	font-weight: 700;
}
.close-slide-bar span:hover{
	background-color:#2bb6ea;
	color:#ffffff;
}
.east-tab-con{
	width:338px;
	height:100%;
	float:left;
	border:1px solid #f0f0f0;
}
.east-tab-con .tab-meun{
	width:100%;
	height:35px;
	line-height:35px;

}
.east-tab-con .tab-meun span{
	width:50%;
	display:inline-block;
	height:35px;
	line-height:35px;
	background-color:#f0f0f0;
	color:#555555;
	float:left;
	text-align:center;
	cursor:pointer;
}
.east-tab-con .tab-meun span.active{
	background-color:#ffffff;
	color:#2bb6ea;
	border-top:2px solid #2bb6ea;
	height:33px;
	line-height:33px;
	cursor:default;
}

.ui-layout-south .playing-tit{
	height:100%;
	line-height:70px;
	width:;
	padding-left:50px;
	float:left;
	color:#555555;
}

.ui-layout-south .playing-tit span{
	color:#333333;
}
.ui-layout-south .right-btn{
	float:right;
	height:100%;
	line-height:70px;
}
.ui-layout-south .right-btn .ewm-img{
	float:left;
	width:70px;
}
.ui-layout-south .right-btn .ewm-img img{
	width:100%;
}
.ui-layout-south .right-btn .ewm-qun{
	float:left;
	line-height:20px;
	padding-top: 15px;
	font-size: 14px;
	color:#494949;
	padding-left:5px;
}
.ui-layout-south .right-btn .in-qun-btn{
	float:left;
	height:100%;
	margin-top:15px;
}
.ui-layout-south .right-btn .in-qun-btn span{
	display:inline-block;
	width:110px;
	height:38px;
	line-height:38px;
	text-align:center;
	background-color:#2bb6ea;
	color:#ffffff;
	margin-left:10px;
	cursor:pointer;
}
.ui-layout-south .right-btn .in-qun-btn span:hover{
	background-color:#0096ce;
}
.ui-layout-south .right-btn .pf-pop-btn{
	float:left;
	height:100%;
	margin-top:15px;
}

.ui-layout-south .right-btn .pf-pop-btn span{
	display:inline-block;
	width:110px;
	height:38px;
	line-height:38px;
	text-align:center;
	background-color:#fc7960;
	color:#ffffff;
	margin-left:10px;
	cursor:pointer;
}
.ui-layout-south .right-btn .pf-pop-btn span:hover{
	background-color:#d9492d;
}





.ui-layout-east {
	z-index:9;
}
.ui-layout-east .tab-con{
	height:100%;
    left: 21px;
    position: absolute;
    top: 35px;
    width: 100%;
    overflow:hidden;
}
.ui-layout-east  .show-con .scrollBar{
	position:absolute;
	width:5px;
	border-radius:5px;
	height:20%;
	top:0;
	right:7px;
	background-color:#555555;
	opacity:0;
	filter:alpha(opacity=0);
}
.ui-layout-east  .show-con{
	height:94%;
	width:95%;
	position:absolute;
	left:0;
	top:0;
}
.tab-con .downlode-list{
	padding: 0 15px;

}
.tab-con .downlode-list .time-new{
	width:100%;
	font-size:12px;
	color:#888888;
	margin-top:20px;
	text-indent:;
	float:left;
}
.tab-con .downlode-list dl{
	width:100%;
	padding-top:10px;
}
.tab-con .downlode-list dl dd{
	height:50px;
}
.tab-con .downlode-list dl dd a{
	overflow:hidden;
	display:inline-block;
	width:100%;
	text-overflow: ;
	font-size:14px;
	color:#555555;
}
.tab-con .downlode-list dl dd p.downlode-link{
	height:20px;
	line-height:35px;
	padding-bottom:8px;
}
.tab-con .downlode-list dl dd p.gx-time{
	color:#b1b1b1;
	height:15px;
	line-height:15px;
	font-size:12px;
}
.tab-con .downlode-list dl dd a:hover{
	color:#2bb6ea;
}
.ui-layout-east  .course-list{
	width:100%;
	padding-top: 20px;
}
.ui-layout-east  .course-list table{
	width:330px;
	margin-left:0px;
}
.ui-layout-east  .course-list table a{
	color:#333;
}
.ui-layout-east  .course-list table thead td{
	height:45px;
	line-height:45px;
}
.ui-layout-east  .course-list table tbody td{
	height:35px;
	line-height:35px;
	font-size:14px;
	overflow:hidden;
	white-space:nowrap;
}
.ui-layout-east .course-list table tbody tr:hover{
	background-color:#f0f0f0;
	cursor:pointer;
}
.ui-layout-east .course-list table tbody tr.notClick{
    color:#999999;
 }
.ui-layout-east .course-list table tbody tr.notClick a
{
    cursor:default;
  color:#999999;
 }
.ui-layout-east .course-list table tbody tr.notClick:hover{
	background-color:#f8f8f8;
	cursor:default;
 }
 .ui-layout-east .course-list table tbody tr.notClick:hover a
 {cursor:default;
  color:#999999;
     }
.ui-layout-east .course-list table tbody tr.active{
	cursor:default;
	background-color:#f0f0f0;
}
].ui-layout-east .course-list table tbody tr td.td-2{
	width:145px;
}
.ui-layout-east .course-list table tbody tr:hover td.td-2 div{
	padding-left:20px;
	width:135px;
	background: url(../images/icon/play_icon.png) no-repeat left center;
}
.ui-layout-east .course-list table tbody tr.active td.td-2 div{
	padding-left:20px;
	width:135px;
	background: url(../images/icon/play_icon.png) no-repeat left center;
}
.ui-layout-east .course-list table tbody tr.active  td.td-1{
	background-image:url(../images/icon/tbody_icon.png);
}
.ui-layout-east .course-list table td.td-0 div{width:60px;overflow:hidden;}
.ui-layout-east .course-list table td.td-1 div{width:45px;overflow:hidden;}
.ui-layout-east .course-list table td.td-2 div{width:155px;overflow:hidden;}
.ui-layout-east .course-list table td.td-3 div{width:70px;overflow:hidden;}
.ui-layout-east .course-list table td.td-0{
	text-indent:15px;
	width:50px;
}
.ui-layout-east .course-list table td.td-1{
	text-align:center;
	width:40px;
}
.ui-layout-east .course-list table thead td.td-1{
	background: url(../images/icon/thead_icon1.png) no-repeat center bottom;
	height:45px;
	line-height:45px;
}

.ui-layout-east .course-list table.startTable thead td.td-1{

	background: url(../images/icon/thead_icon.png) no-repeat center bottom;
}
.ui-layout-east  .course-list table tbody td.td-1{
	background: url(../images/icon/tbody_icon1.png) no-repeat center center;
	color:#ffffff;
	font-size:20px;
	line-height:28px;
}
.ui-layout-east  .course-list table tbody td.td-1.last{
	background: url(../images/icon/tbody_icon1_last.png) no-repeat center center;
}
.ui-layout-east .course-list table tbody tr:hover  td.td-1{
	background-image:url(../images/icon/tbody_icon.png);
}
.ui-layout-east .course-list table tbody tr:hover  td.td-1.last{
	background-image:url(../images/icon/tbody_icon_last.png);
}
.ui-layout-east  .course-list table tbody tr.active td.td-3 a{
	background-color:#2bb6ea;
	color:#ffffff;

}
.ui-layout-east  .course-list table tbody td.td-3 {
	width:70px;
}
.ui-layout-east  .course-list table tbody td.td-3 a{
	text-align:center;
	height:23px;
	line-height:23px;
	width:63px;
	display:inline-block;
	border:1px solid #2bb6ea;
	color:#2bb6ea;
	border-radius:3px;
}
.ui-layout-east  .course-list table tbody td.td-3 a:hover{

	background-color:#2bb6ea;
	color:#ffffff;
}


.ui-layout-east .course-list table thead tr.active td.td-2{
	padding-left:20px;
	background: url(../images/icon/play_icon.png) no-repeat left center;
}

.ui-layout-east  .course-list table thead tr.active td.td-3 a{
	background-color:#2bb6ea;
	color:#ffffff;

}
.ui-layout-east  .course-list table thead td.td-3 div{
	width:70px;
	font-size:14px;
}
.ui-layout-east  .course-list table thead td.td-3 a{
	text-align:center;
	height:23px;
	line-height:23px;
	width:63px;
	display:inline-block;
	border:1px solid #2bb6ea;
	color:#2bb6ea;
	border-radius:3px;
}
.ui-layout-east  .course-list table thead td.td-3 a:hover{

	background-color:#2bb6ea;
	color:#ffffff;
}

.ui-layout-east .course-list table tbody tr.notClick:hover .td-2 div{
    padding-left:0;
    background:none;
}



/*弹出层*/
.popBase-bg{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top: 0;
	background-color:#000000;
	display:none;
	z-index:998;
}
.pop-course-comment{
	width:560px;
	height:340px;
	border:1px solid #cccccc;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-185px;
	z-index:999;
	background-color:#ffffff;
	padding:15px 20px ;
	display:none;
}
.pop-course-comment .off-popComment-btn{
	position:absolute;
	width:21px;
	height:21px;
	background:url(../images/offBox-btn.png) no-repeat left center;
	right:8px;
	top:8px;
	cursor:pointer;

}
.pop-course-comment .off-popComment-btn:hover{
	background-position: -26px center;
}
.pop-course-comment .comment-tit{
	font-size:18px;
	color:#333333;
	padding-bottom:15px;
}
.pop-course-comment p{
	color:#27a3d2;
	font-size:14px;
}
.pop-course-comment .comment-info{
	width:100%;
	padding: 5px 0; 
}
.pop-course-comment .keyword-box{
	border:1px solid #e5e5e5;
	position:relative;
	margin-top:8px;
}
.pop-course-comment .keyword-box .font-tishi{
	position:absolute;
	font-size:10px;
	color:#999999;
	right:20px;
	bottom:5px;
}
.pop-course-comment .keyword-box h2{
	width:100%;
	background-color:#eeeeee;
	height:35px;
	line-height:35px;
	text-indent:9px;
	font-size:14px;
}
.pop-course-comment .keyword-box textarea{

	width:538px;
	height:130px;
	font-size:14px;
	border:0;
	resize: none;
	padding:5px 10px;
	color:#555555;
}
.pop-course-comment  a{
	display:inline-block;
	width:120px;
	height:35px;
	line-height:35px;
	background-color:#fc7960;
	color:#ffffff;
	text-align:center;
	border-radius:4px;
	margin-top:15px;
}
.xinxin-pf{
    height: 22px;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
}
.xinxin-pf span{
	float: left;
	font-size: 14px;
	color: #7b7b7b;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding-right: 5px;
}
.xinxin-pf ul{
	float: left;
	height: 23px;
	overflow: hidden;
	position: relative;
	width: 150px;
}
 .xinxin-pf ul li{
	width: 0px;
	height: 23px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
}
 .xinxin-pf ul li.pf-show-end{
	z-index: 6;	
	background-position: 0 -39px;
}
.xinxin-pf ul li.xinxin-icon{
	background:url(../Images/Icon/pjia.png) repeat-x 0 0;
}
 .xinxin-pf ul li.pf-show-end{
	background:url(../Images/Icon/pjia.png) repeat-x 0 -39px;
}
.xinxin-pf ul li.xinxin-icon.hover{
	background-position: 0 -39px;
}
.xinxin-pf ul li.xinxin-1{width: 30px;z-index: 5;}
.xinxin-pf ul li.xinxin-2{width: 60px;z-index: 4;}
.xinxin-pf ul li.xinxin-3{width: 90px;z-index: 3;}
.xinxin-pf ul li.xinxin-4{width: 120px;z-index: 2;}
.xinxin-pf ul li.xinxin-5{width: 150px;z-index: 1;}
.xinxin-pf span.xinxin-pf-text{
	color: #ff0000;
	float: left;
	margin-left: 5px;
	display: inline-block;
}
.select-gou {
	padding-bottom:5px;
	margin-top:10px;
}
.select-gou font{
	font-size:14px;
	color:#7b7b7b;
	display:inline-block;
}
.select-gou span{
	font-size:13px;
	color:#999999;
	padding-left:15px;
	display:inline-block;
	margin-right:10px;
	cursor:pointer;
	-moz-user-select:none;
}
.select-gou span{
	background:url(../images/icon/selcet.jpg) no-repeat left center;
}
.select-gou span.active{
	background-image:url(../images/icon/selcet_active.jpg);
}