target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
.svn/

### Eclipse ###
.classpath
.project


###其他###
LICENSE
message-back/target/
message-back/message-back.xml
message-core/target/
message-core/message-core.xml
message-service/target/
message-core/message-service.xml
message-web/target/
message-core/message-web.xml
message.iml
