/* CSS Document */
.min-w-50px {
	min-width: 50px;
}

.min-w-87px {
	min-width: 87px;
}

.min-w-90px {
	min-width: 90px;
}

.min-w-95px {
	min-width: 95px;
}

.min-w-96px {
	min-width: 96px;
}

.min-w-97px {
	min-width: 97px;
}

.min-w-101px {
	min-width: 101px;
}

.min-w-110px {
	min-width: 110px;
}

.min-w-121px {
	min-width: 121px;
}

.min-w-136px {
	min-width: 136px;
}

.min-w-150px {
	min-width: 150px;
}

.min-w-205px {
	min-width: 205px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.fs-12px {
	font-size: 12px;
}

.fs-13px {
	font-size: 13px;
}

.fs-16px {
	font-size: 16px;
}

.fs-18px {
	font-size: 18px;
}

.b {
	font-weight: bold;
}

.color-ccc {
	color: #ccc;
}

.color-333 {
	color: #333;
}

.color-666 {
	color: #666;
}

.color-999 {
	color: #999;
}

.color-18aa1f {
	color: #18aa1f;
}

.color-419842 {
	color: #419842;
}

.color-16a6e5 {
	color: #16a6e5;
}

.color-0896d4 {
	color: #0896d4;
}

.color-ffda05 {
	color: #ffda05;
}

.color-ffeb40 {
	color: #ffeb40;
}

.color-fc746d {
	color: #fc746d;
}

.color-ff5a00 {
	color: #ff5a00;
}

.color-ff9000 {
	color: #ff9000;
}

.bg-f2 {
	background: #f2f2f2;
}

.cp {
	cursor: pointer;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.p-t-0 {
	top: 0;
}

.p-r-0 {
	right: 0;
}

.p-b-0 {
	bottom: 0;
}

.p-l-0 {
	left: 0;
}

.oh {
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.dblock {
	display: inline-block;
	vertical-align: middle;
}

.bt-none {
	border-top: none !important;
}

.br-none {
	border-right: none !important;
}

.bb-none {
	border-bottom: none !important;
}

.bl-none {
	border-left: none !important;
}

.pl-5px {
	padding-left: 5px;
}

.pl-10px {
	padding-left: 10px;
}

.pl-15px {
	padding-left: 15px;
}

.pl-17px {
	padding-left: 17px;
}

.pl-30px {
	padding-left: 30px !important;
}

.pt-20px {
	padding-top: 20px;
}

.pr-250px {
	padding-right: 250px;
}

.pb-20px {
	padding-bottom: 20px;
}

.pb-40px {
	padding-bottom: 40px;
}

.mt-0px {
	margin-top: 0 !important;
}

.mr-0px {
	margin-right: 0 !important;
}

.mb-0px {
	margin-bottom: 0 !important;
}

.ml-0px {
	margin-left: 0 !important;
}

.ml-8px {
	margin-left: 8px;
}

.ml-10px {
	margin-left: 10px;
}

.ml-11px {
	margin-left: 11px;
}

.ml-15px {
	margin-left: 15px;
}

.ml-20px {
	margin-left: 20px;
}

.ml-28px {
	margin-left: 28px;
}

.mr-40px {
	margin-right: 40px;
}

.mt-10px {
	margin-top: 10px;
}

.mt-20px {
	margin-top: 20px !important;
}