 h1, h2, h3, h4, h5, h6{
 	font-weight: normal;
 }
 a {
	color:#666;
}
.voide-btn-pop-a{
	color:#f4752d;
	font-size:18px;
}
.shoucai {
	background:0 !important;
	border:0 !important;
	width:300px  !important;
}
.mainCon img{
	display:inline-block
}
 /*    */
 .voide-box{
 	position: fixed;
 	z-index: 99999;
 	width: 1000px;
 	left: 50%;
 	margin-left: -500px;
 	top:50%;
 	margin-top:-250px;
 	top: 200px;
 	height: 500px;
 	background-color: #ffffff;
	border:1px solid #000000;
	display: none;
 }
.head-bg{
	width: 100%;
	height: 474px;
	background-repeat: no-repeat;
	background-position: center center; 
	 background-size: cover;
}
.head.bg-opacity{
	background:rgba(255, 255, 255, 0.7)!important;
	background:transparent; 
	
}
.head.bg-opacity .w-auto-Center{
	position:relative;
} /*实现IE文字不透明*/ 

.header.bg-opacity{
	background:rgba(0, 0, 0, 0.2)!important;
	background:transparent;
}
.header.bg-opacity .w-auto-Center{
} /*实现IE文字不透明*/ 

.bg-opacity .left-nav .nav-school-selcet .school-pinyin{
	color: #d2d2d2;
}

.head-bg-opacity.ie9next{
	filter:Alpha(opacity=70);
	opacity: 0;
	background-color: #f4f4f4;
    height: 35px;
    line-height: 35px;
    width: 100%;
    top: 0;
    z-index: 0;
    left: 0;
}
.headder-bg-opacity.ie9next{
	filter:Alpha(opacity=20);
	opacity: 0;
	background-color: #000000;
    width: 100%;
    top: 35px;
    left: 0; 
    height: 40px;
    padding: 38px 0 28px;
    z-index: 0;
}
.headder-nav-bg-opacity.ie9next{
	filter:Alpha(opacity=20);
	opacity: 0;
	background-color: #000000;
    height: 42px;
    line-height: 42px;
    width: 100%;
    top: 145px;
    left: 0; 
    z-index: 0;
}
/**/

.header-nav{
	width: 100%;
	background-color: #000000;
	background:rgba(0, 0, 0, 0.2)!important;
	background:transparent; 
    zoom: 1;
	height: 42px;
	line-height: 42px;
	margin-top: 1px;
	position: relative;
	display: block;
	z-index: 0;
	float: left;
}
.header-nav .h-nav-a{
	width: 100%;
	height: 100%;
	white-space: nowrap;
}
.header-nav .h-nav-a a{
	display: inline-block;
	height: 42px;
	line-height: 42px;
	padding: 0 8px;
	color: #ffffff;
	font-size: 16px;
	margin-right: 20px;
}
.header-nav .h-nav-a a:hover{
    color:#f18101
}



/*--------------头部的底部导航-------------------*/
.header-bottom-nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	left: 0;
	bottom: 0;
}
.header-bottom-nav .nav-bg{
	width: 100%;
	height: 50px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 0;
}
.header-bottom-nav .nav-info{
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}
.header-bottom-nav .w-auto-Center{
	z-index: 1;
	position: relative;

}
.header-bottom-nav .nav-info .nav-left-kcName{
	width: 220px;
	height: 50px;
	float: left;
}
.header-bottom-nav .nav-info .nav-left-kcName a{
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
}
.header-bottom-nav .nav-info .nav-left-kcName a:hover,
.header-bottom-nav .nav-info .h-b-nav-a a:hover{
	color: #f18101;
}
.header-bottom-nav .nav-info .nav-right{
	float: right;
}
.header-bottom-nav .nav-info .h-b-nav-a {
	width: 780px;
	float: right;
	text-align: right;
}
.header-bottom-nav .nav-info .h-b-nav-a a{
	font-size: 16px;
	color: #ffffff;
	padding: 0 8px;
	display: inline-block;
	height: 50px;
	margin-left: 15px;
}
.header-bottom-nav .nav-info .h-b-nav-a a.active{
	color: #f18101;

}
.header-bottom-nav .nav-info .h-b-nav-a a.btn-baoming{
	height: 32px;
	line-height: 32px;
	margin-top: 9px;
	background-color: #f18101;
	color: #ffffff;
	padding: 0 30px;
	border-radius: 5px;
}
.header-bottom-nav .nav-info .h-b-nav-a a.btn-baoming:hover{
	background-color: #ff6600;
}



/*---------------------头部公告内容--------------------*/
.header-gg-tip.absolute{
	left: 50%;
	margin-left: -500px;
	top: 220px;
	z-index: 1;
}
.header-gg-tip .tip-boxCon{
	width: 330px;
	height: 150px;
	background-color: #ffffff;
	padding: 10px 15px;
	overflow: hidden;
}
.header-gg-tip .tip-boxCon h2{
	font-size: 20px;
	color: #555555;
	font-weight: 100;
	padding-bottom: 5px;
}
.header-gg-tip .tip-boxCon p{
	width: 100%;
	overflow: hidden;
	height: 80px;
	font-size: 14px;
	color: #b9b9b9;
	line-height: 23px;
}
.header-gg-tip .tip-boxCon .btn-a{
	width: 95px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.header-gg-tip .tip-boxCon .btn-a a{
	display:block;
	width: 95px;
	height: 26px;
	line-height: 26px;
	border:1px solid #f29440;
	border-radius: 3px;
	color: #f29440;
}
.header-gg-tip .tip-boxCon .btn-a a:hover{
	background-color: #f29440;
	color: #ffffff;
}
/*------------------------以上部分可以单独分离出来，如果有需要----------------------*/



/*-----------------------------------------------------------
					内容开始
------------------------------------------------------------*/
.mainCon-Af-voide{
	padding: 80px 0;
	width: 100%;
}
.mainCon-Af-voide .m-Af-voide-tit{
	width: 100%;
	height: 180px;
	background: url(../images/font/bigFont.png) no-repeat center center;
}
.mainCon-Af-voide .tit1{
font-family: "FZLTXHK";
	text-align: center;
	font-size: 22px;
	color: #b9b9b9;
	font-weight: 100;
}
.mainCon-Af-voide .voide-btn-pop{
	text-align: center;
	font-size: 16px;
	color: #f4752d;
	
}
.mainCon-Af-voide .voide-btn-pop span{
	display: inline-block;
	padding: 5px 0; 
	padding-left: 35px;
	background: url(../images/icon/voide.png) no-repeat left center;
	cursor: pointer;
}
.mainCon-Af-voide .voide-list-info{
	width: 100%;
	*width: 905px;
	*padding-left: 95px;
	_width: 905px;
	_padding-left: 95px;
	text-align: center;
	padding-top: 15px;
	margin-top: 40px;
}
.mainCon-Af-voide .voide-list-info .dl,
.mainCon-Af-voide .voide-list-info .dd,
.mainCon-Af-voide .voide-list-info .dt{
	width: 200px;
	display: inline-block;
	*float: left;
	*overflow: hidden;
	_float: left;
	_overflow: hidden;
}
.mainCon-Af-voide .voide-list-info .dd,
.mainCon-Af-voide .voide-list-info .dt{
	border-right: 1px solid #cccccc;
}
.mainCon-Af-voide .voide-list-info  h2{
	color: #333333;
	font-size: 26px;
	font-weight: 100;
	padding-bottom: 10px;
	margin-top: -5px;
	_margin-top: 0px;
	*margin-top: 0px;
}
.mainCon-Af-voide .voide-list-info p{
	font-size: 14px;
	color: #b9b9b9;
}
.mainCon-Af-voide .voide-getphone{
	width: 740px;
	padding:0 130px;
	margin-top: 20px;
}
.mainCon-Af-voide .voide-getphone .v-g-left{
	width: 295px;
	height: 40px;
	border:1px solid #818282;
	float: left;
	padding: 10px 0;
}
.mainCon-Af-voide .voide-getphone .v-g-left h5{
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #a1a1a1;
	font-weight: 100;
}
.mainCon-Af-voide .voide-getphone .v-g-left p{
	text-align: center;
	font-size: 14px;
	color: #f4752d;
}
.mainCon-Af-voide .voide-getphone .v-g-right{
	width: 410px;
	float: right;
}
.mainCon-Af-voide .voide-getphone .v-g-right p{
	color: #b9b9b9;
	font-size: 14px;
	width: 100%;
}
.mainCon-Af-voide .voide-getphone .v-g-right dd {
	margin-top: 10px;
	width: 100%;
	*margin-left: -38px;

}
.mainCon-Af-voide .voide-getphone .v-g-right dd input{
	width: 254px;
	height: 32px;
	line-height: 32px;
	background-color: #eaeaea;
	border:0;
	padding-left: 10px;
	display: block;
	float: left;
	margin-right: 5px;
}
.mainCon-Af-voide .voide-getphone .v-g-right dd a{
	display: block;
	width: 134px;
	height: 30px;
	background-color: #f4752d;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	float: left;
	border:1px solid #f4752d;
}
.mainCon-Af-voide .voide-getphone .v-g-right dd a:hover{
	background-color: #ffffff;
	color: #f4752d;
}

/*-----------------------------------*/
.mainCon-Af-jieduan{
	padding: 80px 0;
	width: 100%;
	background-color: #ececec;
}
.mainCon-Af-jieduan .jieduan-tit{
	width: 100%;
	text-align: center;
	font-size: 44px;
	color: #333;
}
.mainCon-Af-jieduan .jieduan-tit span{
	color: #f4752d;
	padding-bottom: 10px;
}
.mainCon-Af-jieduan h2{
	font-size: 20px;
	text-align: center;
	color: #999999;
	padding-bottom: 30px;
}
.mainCon-Af-jieduan h5{
	font-size: 15px;
	text-align: center;
	color: #444444;
}
.mainCon-Af-jieduan .btn-zxu{
	padding-top: 50px;
	text-align: center;
	color: #888888;
	font-size: 16px;
}
.mainCon-Af-jieduan .btn-zxu a{
	font-size: 16px;
	color: #f4752d;
}
.mainCon-Af-jieduan .btn-zxu a:hover{
	text-decoration: underline;
}
.mainCon-Af-jieduan .crae-data{
	width: 100%;
	height: 576px;
	background: url(../images/bg/jieduan.png) no-repeat 34px center;
	margin-top: 60px;
	position: relative;
}
.mainCon-Af-jieduan .crae-data dd{
	position: absolute;
	width: 100px;
	height: 100px;
	border:1px solid #ffffff;
	border-radius:2px;
	background: url(../images/icon/kc_list.png) no-repeat;
}
.mainCon-Af-jieduan .crae-data .data-dd1 {
    left: 98px;
    top: 345px;
    z-index: 4;
    background-position: -376px  center;
}
.mainCon-Af-jieduan .crae-data .data-dd2 {
    left: 223px;
    top: 233px;
    background-position: -245px center;
    z-index: 3;
}
.mainCon-Af-jieduan .crae-data .data-dd3 {
    left: 335px;
    top: 115px;
    background-position: -96px center;
    z-index: 2;
}
.mainCon-Af-jieduan .crae-data .data-dd4 {
    left: 456px;
    top: 5px;
    background-position: 28px center;
    z-index: 1;
}
.mainCon-Af-jieduan .crae-data dd .data-dd-text{
	display:none;
	position: absolute;
	left: -80px;
	border-radius: 5px;

}
.mainCon-Af-jieduan .crae-data dd .data-dd-text{
	width: 160px;
	padding: 10px;
	background-color: #f4f4f4;
	border:1px solid #cccccc;
	color: #666666;
}
.mainCon-Af-jieduan .crae-data dd .data-dd-text .bg{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -28px;
	right: -1px;
	background: url(../images/bg/list_bg.png) no-repeat right -3px ;
	padding-bottom: 2px;
}
.mainCon-Af-jieduan .crae-data dl{
	position: absolute;
}
.mainCon-Af-jieduan .crae-data dl p{
	white-space: nowrap;
	color: #777777;
}
.mainCon-Af-jieduan .crae-data .data-dl1 {
    left: 510px;
    top: 520px;
}
.mainCon-Af-jieduan .crae-data .data-dl2 {
    left: 645px;
    top: 415px;
}
.mainCon-Af-jieduan .crae-data .data-dl3 {
    left: 769px;
    top: 306px;
}
.mainCon-Af-jieduan .crae-data .data-dl4 {
    left: 856px;
    top: 192px;
}
.mainCon-Af-jieduan .btn-more{
	width: 100%;
	text-align:center;
	margin-top: 150px;
	font-size: 16px;
	color: #888888;
}
.mainCon-Af-jieduan .btn-more a{
	color: #01ad59;
	font-size: 16px;
}
.mainCon-Af-jieduan .btn-more a:hover{
	text-decoration: underline;
}

/**/
.mainCon-Cf-system{
	padding: 80px 0;
	background-color: #000000;
}
.mainCon-Cf-system .Cf-s-title{
	text-align: center;
	font-size: 44px;
	color: #f4f4f4;
}
.mainCon-Cf-system h2{
	text-align: center;
	font-size: 18px;
	color: #585858;
	font-style:normal;
}
.mainCon-Cf-system .student-moshi{
	width: 640px;
	margin:0 auto;
	padding-top: 20px;
}
.mainCon-Cf-system .student-moshi .moshi-left{
	width: 390px;
	height: auto;
	float: left;
}
.mainCon-Cf-system .student-moshi .moshi-left p{

	font-size: 16px;
	color: #f4f4f4;
	line-height: 24px;
}
.mainCon-Cf-system .student-moshi .moshi-left a{
	
	font-size: 16px;
	color: #f08200;
	margin-top: 10px;
	display: block;
	float: left;
}
.mainCon-Cf-system .student-moshi .moshi-left a:hover{
	text-decoration: underline;
}
.mainCon-Cf-system .student-moshi .moshi-right{
	float: right;
	width: 210px;
	text-align: center;
}
.mainCon-Cf-system .student-moshi .moshi-right:hover{
	background-color: #111111;
	border-radius: 12px;
}
.mainCon-Cf-system .student-moshi .moshi-right p{
	text-align: center;
	font-size: 16px;
	color: #f4f4f4;
}
.mainCon-Cf-system .student-moshi .moshi-right img{
	padding: 10px 0;
}


/*------------------------------------------------------------------*/
.mainCon-Cf-techer{
	padding: 80px 0;
	background-color: #f6f6f6;

}
.mainCon-Cf-techer .tit{
	text-align: center;
	font-size: 44px;
	color: #333333;

}
.mainCon-Cf-techer h2{

	text-align: center;
	font-size: 18px;
	color: #999999;
}
.mainCon-Cf-techer .text-con{
	width: 610px;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 16px;
	color: #555555;
}
.mainCon-Cf-techer .text-con a{

	color: #f08200;
	font-size: 16px;
}
.mainCon-Cf-techer .text-con a:hover{ text-decoration:underline
}
.mainCon-Cf-techer .cf-techer-list{
	width: 100%;
	margin-top: 40px;
}
.mainCon-Cf-techer .cf-techer-list dd{
	width: 162px;
	margin-right: 45px;
	float: left;
}
.mainCon-Cf-techer .cf-techer-list .marginNone{
	margin-right: 0;

}
.mainCon-Cf-techer .cf-techer-list .list-potoh{
	width: 160px;
	border:1px solid #dbdbdb;
	height: 200px;
}
.mainCon-Cf-techer .cf-techer-list .list-potoh img{
	width: 100%;
	height: 100%;
}
.mainCon-Cf-techer .cf-techer-list .techer-name{
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
}
.mainCon-Cf-techer .cf-techer-list .techer-con{
	font-size: 16px;
	text-align: center;
	color: #888888
}
.mainCon-Cf-techer .techer-text{
	margin-top: 38px;
	padding-left: 290px;
	padding-top: 10px;
	height: 190px;
	background: url(../images/bg/hesky.png) no-repeat left center;
}
.mainCon-Cf-techer .techer-text p{
	line-height: 26px;
	font-size: 16px;
	color: #555555
}

/*------------------------------------------*/

.mainCon-Df-work{
	width: 100%;
	height: 700px;
	background: url(../images/bg/Df_bg.jpg) no-repeat center center;
	background-size: cover;
}
.mainCon-Df-work .Df-work-text{
	width: 500px;
	float: right;
	padding-top:100px; 
}
.Df-work-text .tit{
	padding-bottom: 25px;
	font-size: 44px;
	color: #ffffff;
}
.Df-work-text h2{
	font-size: 20px;
	color: #f3f3f3;

}
.Df-work-text p{
	margin-top: 25px;
	font-size: 16px;
	color: #ffffff;
}
.Df-work-text .btn-in-ywu{
	margin-top: 15px;
}
.Df-work-text .btn-in-ywu a{
    color: #f7e13b;
	font-size: 16px;

}
.Df-work-text .btn-in-ywu a:hover{
	text-decoration: underline;
}
.Df-work-jiuye-info{
	width: 100%;
	margin-top: 35px;
}
.Df-work-jiuye-info dd,
.Df-work-jiuye-info dl{
	width: 268px;
	height: 135px;
	padding: 15px 18px;
	float: left;
	border:1px solid #ffffff;
}
.Df-work-jiuye-info dd{
	margin-right: 38px;
	
}
.Df-work-jiuye-info .tit{
	width: 100%;
	text-align: left;
	padding-bottom: 10px;
}
.Df-work-jiuye-info .tit span{
	font-size:19px ;
	color: #ffffff;
	display: inline-block;
}
.Df-work-jiuye-info .tit font{
	font-size:14px ;
	color: #ffffff;
	display: inline-block;
	text-align: left;
}
.Df-work-jiuye-info .index_left p{

	font-size:14px ;
	color: #ffffff;
}
.Df-work-jiuye-info dd p{

	font-size:14px ;
	color: #ffffff;
}
.Df-work-jiuye-info dl p{

	font-size:14px ;
	color: #ffffff;
}

/*--------------------------------------*/

.mainCon-Ef-selcetHQ{

	padding: 80px 0;
	background-color: #f6f6f6;
}
.mainCon-Ef-selcetHQ .tit{
	font-size: 44px;
	color: #333333;
	text-align: center;

}
.Ef-xueyuan-selcet{
	width: 100%;
	margin-top:25px;
}
.Ef-xueyuan-selcet ul{
	overflow: hidden;
	width: 850px;
	padding-left: 110px;
}
.Ef-xueyuan-selcet ul li{
	width: 218px;
	height: 308px;
	padding: 2px;
	background-color: #ffffff;
	float: left;
	margin-right: 56px;
}
.Ef-xueyuan-selcet ul li .sudent-potoh{
	width: 100%;
	height: 175px;
	overflow: hidden;
	background-color: #ffffff;
}
.Ef-xueyuan-selcet ul li .sudent-potoh img{
	width: 100%;
	height: auto;
}
.Ef-xueyuan-selcet ul li .sudent-name{
	text-align: center;
	padding-top: 8px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	color: #333333;
	background-color: #ffffff;
}
.Ef-xueyuan-selcet ul li .sudent-con{
	width: 100%;
	height: 80px;
	padding-top: 5px;
	background-color: #ffffff;
}
.Ef-xueyuan-selcet ul li .sudent-con p{
	text-align: center;
	font-size: 14px;
	color: #777777;
	padding:0 15px;
	
}
.Ef-xueyuan-selcet dl{
	padding:30px 35px;
	background-color: #f4752d;
	position: relative;
	margin-top: 25px;
	display: none;
}
.Ef-xueyuan-selcet dl i{
	display: block;
	width: 20px;
	height: 12px;
	background: url(../images/icon/list-jt1.png) no-repeat center center;
	position: absolute;
	left: 210px;
	top: -12px;
}
.Ef-xueyuan-selcet dd{
	width: 100%;
	height: auto;
	display: none;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
}

.mainCon-Ef-selcetHQ .btn-more{
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}
.mainCon-Ef-selcetHQ .btn-more a{
	font-size: 16px;
	color: #f08200;

}
.mainCon-Ef-selcetHQ .btn-more a:hover{
	text-decoration: underline;
}

.mainCon-Ff-newClass{
	width: 100%;
	height: 450px;
	padding: 80px 0;
	background: url(../images/bg/Ef_bg.jpg) no-repeat center center;
	background-size: cover;

}
.mainCon-Ff-newClass .tit{
	   color: #ffffff;
    font-size: 44px;
    text-align: center;
}
.mainCon-Ff-newClass h2{
	   color: #f8f8f8;
    font-size: 18px;
    text-align: center;

}
.mainCon-Ff-newClass .btn-a{
	text-align: center;
	margin-top: 40px;
}
.mainCon-Ff-newClass .btn-a a{
	   color: #f8f8f8;
    font-size: 16px;
    color: #f67b02;
	
	
}
.mainCon-Ff-newClass .btn-a a:hover{
	text-decoration:underline
	  
}
.mainCon-Ff-newClass .class-con{
	text-align: center;
	margin-top: 50px;
}
.mainCon-Ff-newClass .class-con dd{
	display:block;
	width: 375px;
	height: 185px;
	padding: 20px 25px;
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.9);
	float: left;
	margin: 0 35px;
	display: inline-block;
}
.mainCon-Ff-newClass .class-con dd h3{
	font-size: 32px;
	color: #333333;
	text-align: center;
	padding-bottom: 10px;
}
.mainCon-Ff-newClass .class-con dd span{
	font-size: 16px;
	color: #ff5c00;
	display: inline-block;
	padding-top: 10px;

}
.mainCon-Ff-newClass .class-con dd p{
	line-height: 25px;
	font-size: 16px;
	color: #666666;
}

/**/
.mainCon-Gf-newClass{
	width: 100%;
	height: 281px;
	padding: 80px 0;
	padding-top: 50px;
	background: url(../images/bg/Gf_bg.png) no-repeat top center #01ad59;
	background-size: cover;
	
}
.mainCon-Gf-newClass .tit{

	color: #ffffff;
    font-size: 44px;
    text-align: center;
}
.mainCon-Gf-newClass h2{
	color: #c2e5c6;
    font-size: 18px;
    text-align: center;
	margin-bottom: 30px;
}
.mainCon-Gf-newClass h3{
	color: #ffffff;
    font-size: 16px;
    text-align: center;

}
.mainCon-Gf-newClass .jiage{
    text-align: center;
	margin-top: 20px;
}
.mainCon-Gf-newClass .jiage span{
	font-size: 54px;
	color: #ffffff;
  
}
.mainCon-Gf-newClass  .jiage font{
	color: #c2e5c6;
    font-size: 18px;

}
.mainCon-Gf-newClass .btn-a{
    text-align: center;
	margin-top: 20px;
}

.mainCon-Gf-newClass .btn-a a{
	padding: 10px 30px;
	background-color: #feec0c;
	font-size: 16px;
	color: #10b058;
}
.mainCon-Gf-newClass .btn-a a:hover{
	background-color: #fff358
}

/*
-----------------------------------------
-----------------------------------------
			遮罩层
-----------------------------------------
-----------------------------------------
 */
 .fixed-bg{
 	position: fixed;
 	z-index: 99990;
 	width: 100%;
 	height: 100%;
 	background-color: #000000;
 	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/

	-moz-opacity:0.7; /*Firefox私有，透明度50%*/

	opacity:0.7;/*其他，透明度50%*/
	display: none;
 
 	top: 0;
}
.btn-dlong{
	width: 250px;
	height: 91px;
	background: url(../images/bg/dlong.png) no-repeat left center;
	bottom: -40px;
	right: 70px;
	cursor: pointer;
}
 .delong-box{
 	position: fixed;
 	z-index: 99999;
 	width: 1000px;
 	left: 50%;
 	margin-left: -500px;
 	top: 50%;
 	margin-top: -100px;
 	height: 300px;
 	background-color: #ffffff;
	border:1px solid #000000;
	display: none;
 }
 .btn-off-box{
 	width:16px;
 	height:16px;
	position:absolute;
	right:8px;
	top:5px;
	cursor:pointer;
	background: url(../images/icon/btn-off.png) no-repeat -16px center;
 }
 
 
 /*------------------------仿真税务------------------------------*/
  /*2015-07-09新增九大系统*/
 .mainCon-sw-content_01{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_001.jpg) no-repeat top center #f5f5f5;}
  .mainCon-sw-content_02{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_002.jpg) no-repeat center 80px #fff;}
  .mainCon-sw-content_03{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_003.jpg) no-repeat  center 160px #efefef;}
  .mainCon-sw-content_04{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_004.jpg) no-repeat  center -20px #fff;}
  .mainCon-sw-content_05{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_005.jpg) no-repeat  center 220px #efefef;}
  .mainCon-sw-content_06{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_009.jpg) no-repeat center 220px #fff;}
  .mainCon-sw-content_07{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_007.jpg) no-repeat center 160px #efefef;}
  .mainCon-sw-content_08{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_008.jpg) no-repeat center 250px #fff;}
  .mainCon-sw-content_09{padding: 80px 0; background:url(../images/bg/fzsw_bg_02_006.jpg) no-repeat center 220px #efefef;}
  .font_s_01{ font-size:42px; color:#333}
  .font_s_02{ font-size:18px; color:#888; margin-top:20px}
   .font_s_03{ font-size:42px; text-align:center; color:#333}
  .font_s_04{ font-size:18px; color:#888; text-align:center; margin-top:20px}
  /*2015-07-09新增九大系统---OVER*/ 
 
 .title_style_01{	padding-bottom: 10px; font-size: 44px; color: #333; text-align:center }
  .title_style_011{	padding-bottom: 10px; font-size: 44px; color: #fff; text-align:center }
 .title_style_02{	padding-bottom: 10px; font-size: 22px; color: #888; text-align:center }
  .title_style_022{	padding-bottom: 10px; font-size: 22px; color: #fde7b8; text-align:center }
 .title_style_03{	padding-bottom: 10px; font-size: 18px; color: #fff; text-align:center }
 .title_style_03 a{ color:#fff}
 .title_style_03 a:hover{ color:#fde7b8; text-decoration: underline}
 .mainCon-fasw-01{	padding: 80px 0; width: 100%; background: url(../images/bg/fzsw_bg_01.jpg) no-repeat center 100px #f21e2a;}
 .ico_date { color:#fde7b8; font-size:15px}
 .ico_date .icon-overall { display: block; width: 45px; height: 45px; margin: 0px auto 20px; background: url(../images/icon/shuiwu_ico01.png) no-repeat scroll 0px 0px;
}
 .ico_date .icon-overall-01 {  background-position: 0px 0px;} .ico_date .icon-overall-02 {  background-position: 0px -45px;} .ico_date .icon-overall-03 {  background-position: 0px -90px;}
 .ico_date li {float: left;  width: 279px;  height:120px;  padding-top: 20px;  border-right: 1px solid #DCDCDC;  text-align: center;}
 .ico_date li.border_r_none, .ico_how li.border_r_none{ border-right:none}
 .title_style_04{ font-size:30px;}
 
 .ico_how{ color:#888; font-size:15px} .ico_how span{ color:#333}
 .ico_how li {float: left;  width: 330px;  height:180px;  padding-top: 20px;  border-right: 1px solid #DCDCDC;  text-align: center;}
 .ico_how li span{ height:60px; display:block}
 .mainCon-sw-worth{padding: 80px 0; background:#fff;}
 .mainCon-sw-content{padding: 80px 0; background:url(../images/bg/fzsw_bg_02.jpg) no-repeat top center #f5f5f5;}
 
 .ico_content .icon-overall { display: block; width: 31px; height: 31px; margin: 0px auto 20px; background: url(../images/icon/shuiwu_neirong_ico01.png) no-repeat scroll 0px 0px;}
 .ico_content .icon-overall-01 {  background-position: 0px 0px;} .ico_content .icon-overall-02 {  background-position: 0px -31px;} .ico_content .icon-overall-03 {  background-position: 0px -62px;}
 .ico_content .icon-overall-04 {  background-position: 0px -93px;} .ico_content .icon-overall-05 {  background-position: 0px -124px;} .ico_content .icon-overall-06 {  background-position: 0px -155px;}.ico_content .icon-overall-07 {  background-position: 0px -186px;}.ico_content .icon-overall-08 {  background-position: 0px -217px;}
 .ico_content li {float: left;  width: 208px; padding:40px 20px 0;  height:240px;  border-right: 1px solid #DCDCDC;  text-align: center;}
 .ico_content li.border_r_none, .ico_how li.border_r_none{ border-right:none}
 .border_b_1{ border-bottom:1px solid #DCDCDC}
 .ico_content li h4{ font-size:17px; color:#333; height:60px}
 
 .mainCon-sw-Advantage{padding: 80px 0; background: url(../images/bg/fzsw_bg_03.jpg) no-repeat top center #fff;}
 .font_color_hui{ color:#888}
 .title_style_05{	padding-bottom: 10px; font-size: 44px; color: #333; text-align:left }
 .title_style_06{	padding-bottom: 10px; font-size: 22px; color: #888; text-align:left }
 
  .ico_advantage{ color:#4a3e31; font-size:14px;  width:700px;} .ico_advantage span{ color:#333}
 .ico_advantage li {float: left;  width: 140px;  height:220px; padding:0 15px 0;  border-right: 1px solid #DCDCDC;  text-align: center;}
 .ico_advantage li span{ height:60px; display:block}
 .title_style_06{ font-size:16px;}
 .title_style_06 a{ color:#f4752d}
 .title_style_06 a:hover{ color:#f4752d; text-decoration: underline}
 
 .mainCon-sw-Condition{padding: 80px 0; background: url(../images/bg/fzsw_bg_04.jpg) no-repeat top left #f8fbfa;}
 .tiaojian li{ border:1px solid #ddd; padding:18px 0; text-align:center;  width:300px; height:60px ; float:left}
  .tiaojian li span{ font-size:20px; color:#333}
 .title_style_08{ font-size:20px;}
 .button{ font-size:18px; margin:30px 0}
 .button a{ color:#f4752d}
 .button a:hover{ color:#f4752d; text-decoration: underline}
 
 .button_02 a{	display: block;	width: 134px;	height: 30px; 	background-color: #01ad59;	text-align: center;	line-height: 30px;	color: #ffffff;	float: left; margin-top:20px	}
.button_02 a:hover{	background-color: #00be61;	color: #fff;}

/*2015-07-20新增收菜板块*/
.mainCon-fasw-sc{	padding: 80px 0; width: 100%; background: url(../images/bg/fzsw_shouc.jpg) no-repeat center 0 #bceaff;}
.title_s_02{ font-size: 44px;color: #333;line-height: 1.2; padding:0px 0 0px}
.title_s_03{ font-size: 30px;color: #333;line-height: 1.2; padding:10px 0 10px}
.title_s_04{ font-size: 18px;color: #888;line-height: 1.2; padding:20px 0 20px}
.fzsw_sc_buttom{ font-size:18px}
.fzsw_sc_buttom a{ color:#f4752d; text-decoration: underline}
.fzsw_sc_buttom a:hover{ color:#ff9000; text-decoration: underline}
.zhibiao_int{ color:#555; font-size:15px; padding-left:40px}

/*20160405恒企会计添加banner*/
.fzsw-hqkj{
	background: url(../../20160405/images/fzsw_hqkj.jpg) center center no-repeat;
	width: 100%;
	height: 466px;
	overflow-y:none;
}
.fzsw-hqkj a{
	outline: none !important;
	width: 100%;
	height: 466px;
	overflow-y:none;
	display: block;
}
/**/
.shoucai {
	

    background-color: #ffffff;
    display: block;
    height: 195px;
    width: 300px;
	margin:0 auto;
	position:relative;
	z-index:11;
}
 .shoucai .sc_top {
    height: 45px;
    line-height: 45px;
    width: 100%;
	
}
 .shoucai .sc_con {
    height: auto;
    padding-top: 10px;
    width: 300px;
	
	float: right;
}
 .shoucai .sc_con .h_1 {
    height: 25px;
    line-height: 20px;
    overflow: hidden;
}
 .shoucai .sc_con .floatLeft {
    float: left;
}
 .shoucai .sc_con .td {
    font-size: 12px;
    text-align: right;
    width: 120px;
}
 .shoucai .sc_con .td1 {
    width: 150px;
}
 .shoucai .sc_con .td1 input {
    border: 1px solid #cccccc;
    height: 20px;
    padding-left: 5px;
    width: 140px;
}
 .shoucai .sc_con .td1 select {
    border: 1px solid #cccccc;
    height: 20px;
    width: 70px;
}
 .shoucai .sc_tj {
    padding-right: 33px;
    text-align: right;
}
 .shoucai .sc_tj input {
    background-color: #f4752d;
    border: 1px #ccc solid;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
    width: 145px;
	 -webkit-box-shadow: 3px 3px 3px;  
	 -moz-box-shadow: 3px 3px 3px;  
	 box-shadow: 3px 3px 3px;  
	 -moz-border-radius: 6px;
	border-radius: 6px;
}
 .shoucai .sc_tj .csw_post_new_fj {
     background-color: #f4752d;
    border: 1px #ccc solid;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
    width: 145px;
	-webkit-box-shadow: 3px 3px 3px;  
	-moz-box-shadow: 3px 3px 3px;  
	box-shadow: 3px 3px 3px;  
	 -moz-border-radius: 6px;
border-radius: 6px;
}